:host {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.header,
.footer {
    height: 64px;
    background-color: #414452;
}

.header,
.footer {
    padding-right: 85px;
    padding-left: 85px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    padding-right: 39px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
