.wrapp {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrapp .main {
    flex: 1;
    background-color: #f2f3f7;
}
.wrapp .header,
.wrapp .footer {
    height: 64px;
    background-color: #414452;
}

.wrapp .header,
.wrapp .breadcrumbs,
.wrapp .main,
.wrapp .footer {
    padding-right: 85px;
    padding-left: 85px;
} 

.wrapp .header {
    display: flex;
    align-items: center;
    color: #ffffff;
    padding-right: 39px;
}

