<div class="login__form">
  <div class="form">
    <div class="form__caption">
     <h2>Login</h2>
    </div>
    <div class="form__email">
      <label for="">Email</label>
      <input type="email" name="" >
    </div>
    <div class="form__password">
      <label for="">Password</label>
      <input type="password" name="" >
    </div>
    <div class="form__button">
      <a href="#">forgot password?</a>
      <button mat-raised-button class="login__button login__button--color-green">Login</button>
    </div>
  </div>
</div>
