<div class="login__form">
  <div class="form">
    <div class="form__caption">
     <h2 class="caption">Login</h2>
    </div>
    <div class="form__email">
      <label for="" class="form__label">Login:</label>
      <input #email type="email" name="" class="form__input" placeholder="Type your login">
    </div>
    <div class="form__password">
      <label for="" class="form__label">Password:</label>
      <input #password type="password" name="" class="form__input">
    </div>
    <div class="form__button">
      <a href="#" class="form__link">forgot password?</a>
      <button mat-raised-button class="login__button login__button--color-green" (click)="userAuthentification(email.value,password.value)">Login</button>
    </div>
  </div>
</div>
