<div class="header__logo">
    <img src="assets/logo/logo.png" srcset="assets/logo/logo@2x.png 2x,
     assets/logo/logo@3x.png 3x" class="Logo" alt="logo">
</div>
<div class="header__user">
    <div class="user__login">
        <img src="assets/user-login/ic-user.png" srcset="assets/user-login/ic-user@2x.png 2x,
     assets/user-login/ic-user@3x.png 3x" class="ic_user" alt="user login image">
        <span class="user-login-text">User Login</span>
    </div>
    <div class="user__log-off">
        <div class="log-off__btn" role="button" (click)="logout()">
            <img src="assets/user-log-off/ic-exit.png" srcset="assets/user-log-off/ic-exit@2x.png 2x,
     assets/user-log-off/ic-exit@3x.png 3x" class="ic_exit" alt="user log-off image">
            <span class="user-logoff-text">Log off</span>
        </div>
    </div>
</div>
