.courses-page__search {
    display: flex;
    margin-top: 20px;
}
.courses-page__search .search__input input {
    position: relative;
    width: 360px;
    height: 48px;
    border-radius: 3px;
    border: solid 1px #d9dbe3;
    background-color: #ffffff;
    padding-left: 40px;
    z-index: 1;
}
.courses-page__search .search__input input::placeholder {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.22px;
    color: #c0c3ce;
}
.courses-page__search .search__input i {
    position: absolute;
    margin-top: 13px;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    color: #929292;
    z-index: 2;
    transform: rotate(90deg);
}
.box-shadow--none {
    box-shadow: none;
}
.search__button {
    margin-left: 10px;
    color: white;
    width: 100px;
    height: 48px;
    border-radius: 3px;
}

.search__button.search__button--color-green {
    background-color: #24d627;
}

.courses-page__add-course {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

}

.add__button {
    padding-left: 5px;
    width: 138px;
    height: 36px;
    border-radius: 3px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.57;
    letter-spacing: -0.1px;
}

.add__button,
.add__button i {
    color: white
}

.add__button i {
    margin-top: -8px;
    padding-right: 15px;
    width: 18px;
    height: 18px;
}

.add__button.add__button--color-blue {
    background-color: #61a7f9ee;
}