<am-breadcrumbs class="breadcrumbs"></am-breadcrumbs>
<div class="courses-page__search">
  <am-search class="search" (valueSearch)="filterSearch($event)"></am-search>
</div>
<div class="courses-page__add-course">
  <button mat-raised-button (click)="openEditorCourse()" class="add-course__button add-course__button--color-blue box-shadow--none"><i
      class="material-icons">add</i>Add course</button>
</div>
<section class="courses-page__list-courses">
  <div *ngIf="coursesData.length > 0; then thenBlock; else elseBlock;"></div>
    <ng-template #thenBlock> <!-- dont forget fix this output method -->
      <am-courses class="courses" (eventDelete)="removeCourse($event)" [courses]="coursesData | orderBy"></am-courses>
    </ng-template>
    <ng-template #elseBlock>
      <p>No Data, feel free to add new course</p>
    </ng-template>
</section>
<section class="courses-page__load-more">
  <am-load-more></am-load-more>
</section>
