<div class="courses-page__search">
    <div class="search__input">
        <i class="material-icons">search</i>
        <input type="search" placeholder="Text to search">
    </div>
    <button mat-raised-button class="search__button search__button--color-green box-shadow--none">Search</button>
</div>
<div class="courses-page__add-course">
    <button mat-raised-button class="add__button add__button--color-blue box-shadow--none"><i class="material-icons">add</i>Add course</button>
</div>
<section class="courses-page__list-courses">
    <courses></courses>
</section>