<section class="courses-section" [ngClass]="{topRated: isTopRated}" >
    <div class="courses-section__content">
         <div class="content__header">
             <div class="header__caption">
                 <h2>{{courseItem.caption}}</h2>
                 <i class="material-icons start-rating">{{ratingStar}}</i>
             </div>
             <div class="header__time">
                 <span class="time">
                     <i class="material-icons">access_time</i>
                     <!-- duration pipe here -->
                     <span>{{courseItem.time | date:'HH:MM a'}}</span>
                 </span>
                 <span class="date">
                     <i class="material-icons">date_range</i>
                     <span amBorderDate>{{courseItem.date | date:'dd MMM, y'}}</span>
                 </span>
             </div>
         </div>
         <section class="content__main">
            {{courseItem.content}}
         </section>
     </div>
     <div class="courses-section__edit-tools">
         <button mat-raised-button class="edit-tools__edit-button edit-tools--color-blue box-shadow--none"><i
                 class="material-icons">edit</i>Edit</button>
         <button (click)="removeCourse()" mat-raised-button class="edit-tools__delete-button edit-tools--color-blue box-shadow--none"><i
                 class="material-icons">delete</i>Delete</button>
     </div>
 </section>
