.breadcrumbs__item {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #2c2f3c;
}

.breadcrumbs__item > a {
  margin-right: 5px;
  text-decoration: none;
}

.breadcrumbs__item > a:not(:nth-child(1))::before {
  content: '/ ';
}
