 <section class="courses-section">
   <div class="courses-section__content">
        <div class="content__header">
            <div class="header__caption">
                <h2>Video Course 1. Name tag</h2>
            </div>
            <div class="header__time">
                <span class="time">
                    <i class="material-icons">access_time</i>
                    <span>1h 28 min</span>
                </span>
                <span class="date">
                    <i class="material-icons">date_range</i>
                    <span>9 Nov, 2018</span>
                </span>
            </div>
        </div>
        <section class="content__main">
            Learn about where you can find course descriptions, what information they
            include, how they work, and details about various components of a course description. Course descriptions
            report information about a university or college's classes. They're published both in course catalogs that
            outline degree requirements and in course schedules that contain descriptions for all courses offered during
            a particular semester.
        </section>
    </div>
    <div class="courses-section__edit-tools">
        <button mat-raised-button class="edit-tools__edit-button edit-tools--color-blue box-shadow--none"><i
                class="material-icons">edit</i>Edit</button>
        <button mat-raised-button class="edit-tools__delete-button edit-tools--color-blue box-shadow--none"><i
                class="material-icons">delete</i>Delete</button>
    </div>
</section>

<section class="courses-section">
    <div class="courses-section__content">
         <div class="content__header">
             <div class="header__caption">
                 <h2>Video Course 1. Name tag</h2>
             </div>
             <div class="header__time">
                 <span class="time">
                     <i class="material-icons">access_time</i>
                     <span>1h 28 min</span>
                 </span>
                 <span class="date">
                     <i class="material-icons">date_range</i>
                     <span>9 Nov, 2018</span>
                 </span>
             </div>
         </div>
         <section class="content__main">
             Learn about where you can find course descriptions, what information they
             include, how they work, and details about various components of a course description. Course descriptions
             report information about a university or college's classes. They're published both in course catalogs that
             outline degree requirements and in course schedules that contain descriptions for all courses offered during
             a particular semester.
         </section>
     </div>
     <div class="courses-section__edit-tools">
         <button mat-raised-button class="edit-tools__edit-button edit-tools--color-blue box-shadow--none"><i
                 class="material-icons">edit</i>Edit</button>
         <button mat-raised-button class="edit-tools__delete-button edit-tools--color-blue box-shadow--none"><i
                 class="material-icons">delete</i>Delete</button>
     </div>
 </section>

<section class="courses-load-more">
    <a href="#" class="load-more__link">Load more</a>
</section> 