<section class="courses-section" *ngFor="let course of courses; let i = index;">
    <div class="courses-section__content">
         <div class="content__header">
             <div class="header__caption">
                 <h2>{{course.caption}}</h2>
             </div>
             <div class="header__time">
                 <span class="time">
                     <i class="material-icons">access_time</i>
                     <span>{{course.time}}</span>
                 </span>
                 <span class="date">
                     <i class="material-icons">date_range</i>
                     <span>{{course.date}}</span>
                 </span>
             </div>
         </div>
         <section class="content__main">
            {{course.content}}
         </section>
     </div>
     <div class="courses-section__edit-tools">
         <button mat-raised-button class="edit-tools__edit-button edit-tools--color-blue box-shadow--none"><i
                 class="material-icons">edit</i>Edit</button>
         <button (click)="removeCourse(i)" mat-raised-button class="edit-tools__delete-button edit-tools--color-blue box-shadow--none"><i
                 class="material-icons">delete</i>Delete</button>
     </div>
 </section>

<section class="courses-load-more">
    <load-more></load-more>
</section> 