<div class="editor-course">
  <div class="editor-course__content">
    <div class="content">
      <mat-dialog-content>
        <div class="content__title">
          <mat-form-field>
            <input value="{{data.caption}}" type="text" placeholder="Title:" matInput>
          </mat-form-field>
        </div>
        <div class="content__desc">
          <mat-form-field>
            <textarea value="{{data.content}}" cols="30" rows="3" placeholder="Description:" matInput></textarea>
          </mat-form-field>
        </div>
        <div class="content__date">
          <am-date [date]="courseDate"></am-date>
        </div>
        <div class="content__duration">
          <am-duration [duration]="courseDuration"></am-duration>
        </div>
      </mat-dialog-content>
    </div>
    <mat-dialog-actions class="content__buttons">
      <button (click)="save()" class="content__save" mat-button>Save</button>
      <button (click)="close()" class="content__cancel" mat-dialog-close mat-button>Cancel</button>
    </mat-dialog-actions>
  </div>
</div>
